{% extends 'base.html.twig' %}

{% block body %}



<div class="bgimg-1">
      <!-- Navbar full screen -->
      <div class="w3-fixed-top w3-center ">
        <div class="w3-bar " id="myNavbar">
          <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#home" class="w3-bar-item w3-button"><i class="fanta fas fa-home fa-2x "></i>HOME</a>
          <a href="#Education" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fas fa-graduation-cap fa-2x "></i> FORMATIONS</a>
          <a href="#Languages" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fas fa-globe fa-2x"></i> LANGUES</a>
          <a href="#Expériences" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fas fa-archive fa-2x"></i> PARCOURS</a>
          <a href="#Compétences" class="w3-bar-item w3-button w3-hide-small"><i class=" fanta fas fa-cog fa-spin fa-2x"></i> COMPETENCES</a>
          <a href="#Contact" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fas fa-address-book fa-2x"></i> CONTACT</a>
          <a href="#Projets" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fa fa-th fa-2x"></i> PROJETS</a>
          <a href="#Hobbies" class="w3-bar-item w3-button w3-hide-small"><i class="fanta fa fa-user fa-2x"></i> HOBBIES</a>

        </div>

        <!-- Navbar small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
          <a href="#Education" class="w3-bar-item w3-button" onclick="toggleFunction()">FORMATIONS</a>
          <a href="#Languages" class="w3-bar-item w3-button" onclick="toggleFunction()">LANGUES</a>
          <a href="#Expériences" class="w3-bar-item w3-button" onclick="toggleFunction()">PARCOURS</a>
          <a href="#Compétences" class="w3-bar-item w3-button" onclick="toggleFunction()">COMPETENCES</a>
          <a href="#Contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
          <a href="#Projets" class="w3-bar-item w3-button" onclick="toggleFunction()">PROJETS</a>
          <a href="#Hobbies" class="w3-bar-item w3-button" onclick="toggleFunction()">HOBBIES</a>
        </div>
      </div>
      <!-- Boutton permettant de remonter directement -->
      <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-circle-up fa-2x"></i></button>

        <div class="container-fluid">

            <div class="presentation row" id='presentation'>
        		<div class="img-responsive center-block ">
        	 		<img class="tof"  src="../CSS/IMG/img" alt="bibi" width="200" height="200">
        	        <div class="nom"><h1>Pascal Martinez</h1></div>
                    <div class="qualite"><h4>Développeur web en formation</h4></div>
                </div>
            </div>

        </div>
</div>

    <div class="bgimg-1 container-fluid">
            <div class="situation col-md-10 offset-md-2 col-sm-12 row">
                <div class="col-md-3   col-sm-12">
                    <h3><i class="fanta fab fa-angellist fa-2x"></i>Challenger</h3>
                    <p>J'aime repousser mes limites et me mettre de nouveaux défis tant dans le poste
                        que j'occupe comme dans celui que je recherche.</p>
                </div>

                <div class="col-md-3 offset-md-1 col-sm-12 ">
                    <h3><i class="fanta fas fa-upload fa-2x"></i>Update</h3>
                    <p>Me former, me tenir continuellement informé des nouvelles techniques et technologies
                    est essentiel pour moi, pour le développement de ma carrière comme pour mon développement personnel.</p>
                </div>

                <div class="col-md-3 offset-md-1 col-sm-12 ">
                    <h3><i class=" fanta fas fa-redo-alt fa-2x"></i>Restart</h3>
                    <p>Après quatorze années entre la grande distribution puis en tant que commercial dans l’industrie métallurgique,
                    je ressens le besoin aujourd’hui de m’ouvrir vers de tout nouveaux horizons professionnels, de découvrir un nouveau secteur
                    pour lequel j’ai un vif intérêt et de vivre de nouvelles expériences,
                    tout en continuant d’apprendre. Quoi de plus palpitant que de commencer une nouvelle page de vie ?!</p>
                </div>
            </div>
    </div>



    <div class="bgimg-3 container-fluid">
        <div class="Education col-md-10 offset-md-2 col-sm-12 offset-sm-1" id='Education'>
            <h2><i class="fanta fas fa-graduation-cap fa-2x"></i>Formations</h2>
        </div>

        <div class="row">
            <div class="col-12 offset-md-2 offset-sm-1">
                <div class="main-timeline">

                    <div class="col-12 col-md-3 timeline">
                        <div class="timeline-content">
                            <div class="year">2001-2003</div>
                            <div class="post">Bac STT Européen option Commerce International</div>
                            <p class="description">
                                BAC Science Technique du Tertiaire option Européen et Commerce Internationnal
                            </p>
                        </div>
                        <div class="timeline-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 timeline">
                        <div class="timeline-icon">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="timeline-content">
                            <p class="description">
                                Bachelor d'école supérieure de commerce du groupe ESC BAC +3 Niveau II option Informatique et NTIC
                            </p>
                            <div class="post">Bachelor ESC Toulouse</div>
                            <div class="year">2004-2007</div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12 timeline">
                        <div class="timeline-content">
                            <div class="year">2017-2018</div>
                            <div class="post">AFORMAC<br></div>
                            <p class="description">
                                Formation de développeur Web diplomant BAC +2 Niveau III
                            <br><br></p>
                        </div>
                        <div class="timeline-icon">
                            <i class="fas fa-code"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="Languages col-md-8 offset-md-2 col-sm-12 offset-sm-1" id="Languages">
                <div class="">
                    <h2><i class="fanta fas fa-globe fa-2x"></i>Langues</h2>
                    <p><B>Français</B></p>
                    <div class="barrelangue offset-md-1" >
                        <div class="skills francais" id="myBar"><B>Lu | Ecrit | Parlé | Langue maternelle</B> </div>
                    </div>

                    <p><B>Anglais<B></p>
                    <div class="barrelangue offset-md-1" >
                        <div class="skills anglais" id="myBar"><B>Lu | Ecrit | Parlé</B></div>
                    </div>

                    <p><B>Espagnol<B></p>
                    <div class="barrelangue offset-md-1">
                        <div class="skills espagnol" id="myBar"><B>Lu | Ecrit | Parlé</B></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgimg-1 container-fluid">
        <div class="Expériences   row" id="Expériences">
            <div class= "col-md-8 offset-md-2 col-sm-12 offset-sm-1">
                <h2 ><i class="fanta fas fa-archive fa-2x"></i>Mon parcours</h2>

                <div id="timeline" class="offset-md-2">
            		<ul id="dates">
                        {% for i in exp %}
            			<li>
            				<a href="#{{i.timeline}}">{{i.timeline}}</a>
            			</li>
                        {% endfor %}
            		</ul>
            		<ul id="issues">
                        {% for i in exp %}
            			<li id="{{i.annee}}" >
            				<h4>{{i.annee}}</h4>
            				<img src="{{i.logo}}" alt="Logo"  class="img_timel" width="256" >
            				<p>{{i.description}}</p>
            			</li>
                        {% endfor %}
            		</ul>
            		<div id="grad_left"></div>
            		<div id="grad_right"></div>
            		<a href="#" id="next">+</a>
            		<a href="#" id="prev">-</a>
            	</div>
            </div>
        </div>
    </div>

        <div class="bgimg-2 container-fluid">
            <div class="col-md-8 offset-md-2 col-sm-12 ">
                <div class="Projets row ">
                    <h2></h2>
                </div>
                <div class="row">
                    <div class="offset-md-2">
                        <div id="tableCV" class="projets">
                            <div id="centeralignCV">
                                <h4 id="CVdownTitre" class="CVdownTitre">Télécharger le CV.</h4>
                                <a id="CVdown" class="CVdown">Si vous souhaitez conserver une version PDF de mon CV je vous invite à cliquer sur le bouton télécharger ci dessous</a>
                            </div>

                        </div>
                    </div>
                </div>
                <a class="boutonCV offset-md-6 " type="" name="button" href="CSS/IMG/CV_Pascal_Martinez.pdf" download="CSS/IMG/CV_Pascal_Martinez.pdf"><i class="fa fa-download"></i>Télécharger</a>
            </div>
        </div>


        <div class="bgimg-1 ">
            <div class="Compétences col-md-10 offset-md-2 col-sm-12 row" id="Compétences">
                <h2><i class=" fanta fas fa-cog fa-spin fa-2x"></i>Compétences</h2>
            </div>

            <div class="row">

                <div class="skill_info col-md-4 col-sm-12 offset-md-2">
                    <h3 class="offset-3">Informatique</h3>
                    <ul id="skill">
                        <li><span class="bar html-css"></span><h3>Html || CSS || Boostrap</h3></li>
                        <li><span class="bar php-sql"></span><h3>PHP</h3></li>
                        <li><span class="bar php-sql"></span><h3>SQL</h3></li>
                        <li><span class="bar jquery"></span><h3>JAVAScript || jQuery</h3></li>
                        <li><span class="bar jquery"></span><h3>Symfony 4</h3></li>
                        <li><span class="bar wordpress"></span><h3>Wordpress</h3></li>
                    </ul>

                </div>


                <div class="skill_gen col-md-4 col-sm-12 ">
                    <h3 class="offset-3 ">Entreprise</h3>
                    <ul id="skill2">
                        <li><span class="bar commerce"></span><h3>Commerce</h3></li>
                        <li><span class="bar prospection"></span><h3>Prospection</h3></li>
                        <li><span class="bar gestion"></span><h3>Gestion d'un site</h3></li>
                        <li><span class="bar management"></span><h3>Management</h3></li>
                    </ul>
                </div>
            </div>



        </div>

            <!--Contact -->
    <div class="bgimg-3 container-fluid ">
        <div class="col-md-10 offset-md-2 col-sm-12 ">
            <div class="Contact " id="Contact">
                <h2><i class="fanta fas fa-address-book fa-2x "></i>Contact</h2>
                <div class="row">
                    <div class=" col-md-4 offset-md-2 " >
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2777.5655932636387!2d1.2639049155714475!3d45.88000007910805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f93540dc1617d5%3A0x64bb129937371c76!2sAll%C3%A9e+Fran%C3%A7ois+Reichenbach%2C+87280+Limoges!5e0!3m2!1sfr!2sfr!4v1525098308046" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <div class="col-md-4 ">
                        <div class="col-sm-12 offset-md-1  ">
                            <a class="fanta " href="callto:+0676776866"><i class="fa fa-phone fa-2x"></i> 06 76 77 68 66 </a>
                        </div>
                        <div class="col-sm-12 offset-md-1">
                            <a class="fanta" href="mailto:pmartinez31140@gmail.com"><i class="fa fa-envelope fa-2x"></i>pmartinez31140@gmail.com</a>
                        </div>
                        <!-- col-md-4 col-sm-5 -->
                        <div class="col-sm-12 offset-md-1">
                            <a class="fanta" href="https://www.linkedin.com/in/pascal-martinez-538878b7/"><i class="fab fa-linkedin fa-2x"></i></a>
                            <a class="fanta" href="https://www.facebook.com/pascal.martinez.79069323/" ><i class="fab fa-facebook fa-2x" ></i></a>
                        </div>
                        <!-- col-md-4 -->
                    </div>
                </div>
            </div>
                <div class="col-md-10 offset-md-1">

                      {{ form_start(form) }}
                      {{ form_widget(form) }}
                          <button class="boutonCV" type="submit"><i class="fa fa-paper-plane"></i> ENVOYER MESSAGE </button>
                      {{ form_end(form) }}
                </div>
        </div>
    </div>


    <div class="bgimg-2 container-fluid " id="Projets">
        <div class="col-md-8 offset-md-2 col-sm-12 ">
            <div class="Projets ">
                <h2><i class="fanta fab fa-black-tie fa-2x"></i>Projets</h2>
            </div>
            <div class="row">
                <div class="offset-md-2">
                    <div id="table" class="projets">
                        <a href="{{ path('projets') }}">
                        <div id="centeralign">
                            <h4 id="projetsTitre" class="projetsTitre">Cliquez ici pour visualiser les projets.</h4>
                            <p id="projetsTexte" class="projetsTexte">Je vous propose de visualiser les différents projets réalisés en groupe durant la formation Aformac.</p>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="Hobbies bgimg-1 container-fluid" id="Hobbies">
        <div class="col-md-8 offset-md-2 col-sm-12  ">
            <h2><i class="fanta far fa-smile fa-2x"></i>Hobbies</h2>
            <div class="hobbies_fanta row">
                <div class="fanta col-sm-2 col-md-2 offset-sm-1 offset-md-3 "><i class="fas fa-film fa-2x"></i></div>
                <div class="fanta col-sm-2 col-md-2 "><i class="fas fa-plane fa-2x"></i></div>
                <div class="fanta col-sm-2 col-md-2 "><i class="fas fa-laptop fa-2x"></i></div>
                <div class="fanta col-sm-2 col-md-2 "><i class="fas fa-gamepad fa-2x"></i></div>
            </div>
        </div>
    </div>

{% endblock %}
